@use '../../styles/variables.scss' as *;

.navButton {
  text-transform: uppercase;
  border-left: 1px solid $dark-background;
  border-right: 1px solid $dark-background;
  min-height: inherit;
  min-width: 150px;
  font-weight: 600;
  color: $dark-background;
}

.navButton:active {
  border-left: 4px solid $dark-background;
  border-right: 4px solid $dark-background;
}

@media (width <= 680px) {
 .navButton {
    font-size: 18px;
    min-width: 130px;
  }
}

@media (width <= 520px) {
  .navButton {
    font-size: 16px;
    min-width: 110px;
  }
}