@use '../../styles/variables.scss' as *;

.navButton {
  text-transform: uppercase;
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-height: inherit;
  min-width: 150px;
  font-weight: 600;
  color: black;
}

.navButton:active {
  border-left: 4px solid black;
  border-right: 4px solid black;
}

@media (width <= 680px) {
 .navButton {
    font-size: 18px;
    min-width: 130px;
  }
}

@media (width <= 520px) {
  .navButton {
    font-size: 16px;
    min-width: 110px;
  }
}