@font-face {
  font-family: Blender;
  font-style:  normal;
  font-weight: 400;
  src: url(../fonts/BlenderPro-Medium.woff2) format('woff2');
}

@font-face {
  font-family: LYAJKA;
  font-style:  normal;
  font-weight: 400;
  src: url(../fonts/Cyberpunk_RUS_BY_LYAJKA.ttf) format('truetype');
}

@font-face {
  font-family: Disket;
  font-style:  normal;
  font-weight: 400;
  src: url(../fonts/Disket-Mono-Regular.ttf) format('truetype');
}