@use '../../styles/variables.scss' as *;

.navigation {
  min-width: inherit;
  width: 100%;
  background: $primary;
  border: 2px solid $dark-background;
  border-left: 0;
  border-right: 0;
  min-height: 60px;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media (width <= 680px) {
  .navigation {
    min-height: 50px;
  }
}

@media (width <= 520px) {
  .navigation {
    min-height: 44px;
  }
}

// Светлая тема
[data-theme="light"] {
  .navigation {
    background: $light-background;
    border: 2px solid $dark-background;
    border-left: 0;
    border-right: 0;
  }
}

// Автоматическая тема
[data-theme="auto"] {
  @media (prefers-color-scheme: dark) {
    .navigation {
      background: $primary;
      border: 2px solid $dark-background;
      border-left: 0;
      border-right: 0;
    }
  }

  @media (prefers-color-scheme: light) {
    .navigation {
      background: $light-background;
      border: 2px solid $dark-background;
      border-left: 0;
      border-right: 0;
    }
  }
}