.header {
  max-width: inherit;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 30px;
  background: url("../../images/header/header.png") center / cover no-repeat;
  z-index: 1000;

  .logo {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    gap: 10px;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
  }

  .logoTitle {
    font-family: LYAJKA, Arial, sans-serif;
    font-size: 6vw;
  }

  .logoText {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.5vw;
  }

  .color {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: 3 / 4;
    justify-self: flex-end;
  }
}

@media (width <= 1080px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .color {
    flex-direction: row;
  }

  .logoText {
    font-size: 3.5vw;
  }

  .logoTitle {
    font-size: 10vw;
  }
}

@media (width <= 680px) {
  .header {
    padding: 15px 2rem;
  }
}