@use '../../styles/variables' as *;
@use '../../styles/animations' as *;

.menuButton {
  font-family: Disket, Arial, sans-serif;;
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  font-weight: 700;
  border: 0;
  width: 250px;
  height: 75px;
  line-height: 55px;
  z-index: 1;

  &:hover .glitch {
    display: block;
  }

  &:active {
    top: calc($border * 1);
    left: calc($border * 1);
    right: calc($border * 1);
    bottom: calc($border * 1);
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: $clip;
    z-index: -1;
  }

  &:before {
    background: var(--button-accent);
    transform: translate($border, 0);
  }

  &:after {
    background: var(--button-color);
  }
}

.tag {
  position: absolute;
  padding: 2px 1px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  color: var(--button-tag);
  font-size: 7px;
}

.glitch {
  position: absolute;
  top: calc($border * -1);
  left: calc($border * -1);
  right: calc($border * -1);
  bottom: calc($border * -1);
  background: var(--button-color);
  text-shadow: 2px 2px var(--button-color), -2px -2px $shadow-secondary;
  clip-path: $clip;
  animation: glitch 2s infinite;
  display: none;
}

.glitch:before {
  content: '';
  position: absolute;
  top: calc($border * 1);
  right: calc($border * 1);
  bottom: calc($border * 1);
  left: calc($border * 1);
  clip-path: $clip;
  background: var(--button-color);
  z-index: -1;
}

@media (width <= 1080px) {
  .menuButton {
    width: 200px;
  }

  .tag {
    font-size: 5px;
    padding: 4px 1px;
  }

}

@media (width <= 680px) {
  .menuButton {
    width: 150px;
    height: 55px;
    font-size: 20px;
  }

  .tag {
    display: none;
  }
}

@media (width <= 520px) {
  .menuButton {
    width: 90px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}